#root {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 48px 64px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.leftSection {
  width: 360px;
  overflow: auto;
}

.rightSection {
  display: flex;
  width: auto;
}